// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#sign_up{
  margin: 0 40px;
}
#sign_in{
  margin: 0 40px;
}
#edit{
  margin: 0 40px;
}
#new_post{
  margin: 0 40px;
}
.nav-wrapper{
  padding-left: 30px;
}
.grid-6{
  float: right;
}

.contents.row{
  margin: 0;
}
.comment{
  height: 120px;
  border: solid 1px lightgray;
  margin: 25px 80px;
  box-shadow: 0px 0px 6px 3px #e0e0e0;
  border-radius: 6px;
}
.text{
  height: 80px;
  margin: 0;
  padding: 10px;
}
.more_list{
  border-top: solid 1px lightgray;
  margin: 0;
  height: 40px;
  line-height: 40px
}
.list{
  float: left;
  padding: 0 10px;

}

#paginate{
  text-align: center;
}